description = "Clean centered header and nav"

[viewBag]
snippetCode = "headers-centered"
snippetName = "Headers Centered"
==
<header id="header" class="simple-header header1">
  <div class="container" style="text-align:center">
    <h1>Welcome</h1>
    <p><strong>Welcome to the new theme for 2017!</strong></p>
    <button class="button large primary">Button</button><span>     </span>
    <button class="button large">Button</button><span>     </span>
    <button class="button large outline ">Button</button>
  </div>
</header>