[viewBag]
snippetCode = "carousel"
snippetName = "Carousel"
==
<section id="carousel" class="carousel">
  <h2>Image Carousel</h2>
  <div>
    <img id="image1" src="{{ 'assets/images/unsplash/beach-min.jpg'|theme }}" width="1920" height="1080" alt="Beach seen from above">
    <img id="image2" src="{{ 'assets/images/unsplash/city-min.jpg'|theme }}" width="1920" height="1080" alt="Sunset over city">
    <img id="image3" src="{{ 'assets/images/unsplash/climbing-min.jpg'|theme }}" width="1920" height="1080" alt="Women standing ontop of a mountain">
    <img id="image4" src="{{ 'assets/images/unsplash/mountain-min.jpg'|theme }}" width="1920" height="1080" alt="Photo of mountain with purple tint">
    <img id="image5" src="{{ 'assets/images/unsplash/running-min.jpg'|theme }}" width="1920" height="1080" alt="Man jumping">
    <img id="image6" src="{{ 'assets/images/unsplash/tech-min.jpg'|theme }}" width="1920" height="1080" alt="Camera, phone and smart watch on a table">
    <img id="image7" src="{{ 'assets/images/unsplash/winter-min.jpg'|theme }}" width="1920" height="1080" alt="Forest covered in snow">
  </div>
</section>