[viewBag]
snippetCode = "contact"
snippetName = "Contact"
==
<form method="post" action="" class="container form">
  <h2>Contact</h2>

  <div class="row">
    <div class="col col-8 form-item">
      <label>Email</label>
      <input type="email" name="email" placeholder="joe@example.com">
    </div>
    <div class="col col-4 form-item">
      <label>Country</label>
      <select>
        <option value="USA">USA</option>
        <option value="AUS">AUS</option>
        <option value="NZ">NZ</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>

  <div class="form-item">
    <label class="checkbox"><input type="checkbox"> Check me</label>
    <label class="checkbox"><input type="checkbox"> Check me</label>
  </div>

  <div class="form-item">
    <label class="checkbox"><input type="radio" name="radio"> Radio me</label>
    <label class="checkbox"><input type="radio" name="radio"> Radio me</label>
  </div>

  <div class="form-item">
    <label>Message</label>
    <textarea rows="6" placeholder="Type your message here..."></textarea>
  </div>

  <div class="form-item">
    <button>Submit</button>
    <button class="button secondary outline">Cancel</button>
  </div>

</form>