[viewBag]
snippetCode = "pricing"
snippetName = "Pricing"
==
<section class="row gutters pricing">

  <div class="col col-4">
		<div class="header">
			<span class="price">$49</span>
			<span class="name">Deal 1</span>
		</div>
		<ul class="features">
			<li>Complete documentation</li>
      <hr>
			<li>Working materials in PSD, Sketch and EPS format</li>
      <hr>
			<li>1 year access to the library</li>
      <hr>
			<li>2GB cloud storage</li>
		</ul>
	</div>

	<div class="col col-4">
		<div class="header">
			<span class="price">$29</span>
			<span class="name">Deal 2</span>
		</div>
		<ul class="features">
			<li>Complete documentation</li>
      <hr>
			<li>Working materials in PSD, Sketch and EPS format</li>
      <hr>
			<li>6 months access to the library</li>
		</ul>
	</div>

  <div class="col col-4">
		<div class="header">
			<span class="price">$19</span>
			<span class="name">Deal 3</span>
		</div>
		<ul class="features">
			<li>Complete documentation</li>
      <hr>
			<li>Working materials in PSD and Sketch format</li>
		</ul>

	</div>

</section>