[viewBag]
snippetCode = "pricing"
snippetName = "Pricing"
==
<section class="row gutters pricing">

  <div class="col col-4">
		<div class="header">
			<span class="price">$49</span>
			<span class="name">Deal 1</span>
		</div>
		<ul class="features">
			<li>Feature 1</li>
      <hr>
			<li>Feature 2</li>
      <hr>
			<li>Feature 3</li>
      <hr>
			<li>Feature 4</li>
		</ul>
	</div>

	<div class="col col-4">
		<div class="header">
			<span class="price">$29</span>
			<span class="name">Deal 2</span>
		</div>
		<ul class="features">
			<li>Feature 1</li>
      <hr>
			<li>Feature 2</li>
      <hr>
			<li>Feature 3</li>
		</ul>
	</div>

  <div class="col col-4">
		<div class="header">
			<span class="price">$19</span>
			<span class="name">Deal 3</span>
		</div>
		<ul class="features">
			<li>Feature 1</li>
      <hr>
			<li>Feature 2</li>
		</ul>

	</div>

</section>