[viewBag]
snippetCode = "icons-grid"
snippetName = "Icons Grid"
==
<h2>Icon or Image Grid</h2>
  <div class="row auto gutters icon-grid">
    <div class="col col-4">
      <i class="fa fa-mobile" aria-hidden="true"></i><br>
      <p><strong>Modern &amp; Professional</strong></p>
      <p>Quickly build a modern, professional website. The Vario 2017 Theme uses modern principles such as mobile-first design and simple navigation.</p>
    </div>
    <div class="col col-4">
      <i class="fa fa-fighter-jet" aria-hidden="true"></i><br>
      <p><strong>Fast Loading</strong></p>
      <p>Small files with minimal bloat. You can also edit SCSS to not include unnecessary code.</p>
    </div>
    <div class="col col-4">
      <i class="fa fa-code" aria-hidden="true"></i><br>
      <p><strong class="col">Easily Customisable</strong></p>
      <p>Easily editable code to let you edit customise the site, or try the Static Pages plugin. Vario is built on the powerful but minimalist Kube Framework, so new features can be added easily.</p>
    </div>
  </div>
