[viewBag]
snippetCode = "two-column-grid"
snippetName = "Two Column Grid"
==
<div class="row gutters large-grid">
  <div class="col col-6 push-middle">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, eos repellat provident quam earum possimus dicta necessitatibus sit a minima. Aspernatur, quas, consequuntur architecto placeat enim laboriosam provident quae quisquam!</p>
  </div>

  <div class="col col-6">
    <img id="image6" src="{{ 'assets/images/unsplash/tech-min.jpg'|theme }}" width="1920" height="1080" alt="Camera, phone and smart watch on a table">
  </div>
</div>