description = "Simple, customisable grid"

[viewBag]
snippetCode = "simple-grid"
snippetName = "Simple Grid"
==
<h2>Simple Grid</h2>
<div class="row auto gutters grid">
  <div class="col col-4">
    <p><strong>Modern &amp; Professional</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="col col-4">
    <p><strong>Fast Loading</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col col-4">
    <p><strong class="col">Minimalist &amp; Flexible</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
