description = "Medium sized footer for a few links"

[viewBag]
snippetCode = "footer-m"
snippetName = "Medium Footer"
==
<footer>
  <div class="container row footer-m">
    <div class="col col-6 copy">
      <p>&copy; Creative Monday</p>
    </div>
    <div class="col col-6">
    <div class="row auto">
      <a href="/pricing" class="col">Pricing</a>
      <a href="#" class="col">Instagram</a>
      <a href="#" class="col">Snapchat</a>
      <a href="#" class="col">YouTube</a>
    </div>
    </div>
  </div>
</footer>