description = "Large footer for many links"

[viewBag]
snippetCode = "footer-lg"
snippetName = "Large Footer"
==
<footer class="row auto gutters">
  <div class="col col-4">
    <strong>Section 1</strong>
    <a href="">Link1</a>
    <a href="">Link2</a>
    <a href="">Link3</a>
    <a href="">Link4</a>
  </div>
  <div class="col col-4">
    <strong>Section 2</strong>
    <a href="">Link1</a>
    <a href="">Link2</a>
    <a href="">Link3</a>
    <a href="">Link4</a>
  </div>
  <div class="col col-4">
    <strong>Address</strong>
    <p>123 Awesome Street <br>
    Auckland <br>
    New Zealand</p>
  </div>
</footer>